<h1>Sign In</h1>

<form action = "/verify_cred" method="post">
  <label for ="hello">Username</label> 
  <input id = "hello" type="text" name ="input_username" placeholder="Enter your username">

  <label for="helpass">Password</label>
  <input id="helpass" type="password" name ="input_password" placeholder="enter a password">

 <button>Sign In</button>
 </form>
