<h1>Sign Up</h1>

<form action = "/insert_user_record">
  <label for ="hello">Username</label> 
  <input id = "hello" type="text" name = "input_username" placeholder="Enter username">

  <label for="helpass">Password</label>
  <input id="helpass" type="password" name = "pass_record" placeholder="enter a password">

  <label for="confpass">Password</label>
  <input id="confpass" type="password" name = "pass_record" placeholder="Confirm your password">

  <button>Sign Up!</button> 
</form> 

<hr>
